@import 'src/style/variables';

.movieList {
   border-left: 1px solid $main-color;
   padding-left: 30px;
   margin-top: 50px;
}

.movieCard {
   display: flex;
   margin-top: 25px;
   padding: 20px;
   height: max-content;
   border-bottom: 1px solid $main-color;

   &:hover {
      background-color: #e5e5e5;
      cursor: pointer;
   }

   img {
      width: 150px;
      border: 2px solid gray;
   }

   .description {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding-left: 30px;

      .year {
         color: orange;
         font-weight: bold;
      }

      .other {
         color: gray;
      }

      .descriptionText {
         font-size: 15px;
      }


   }
}