.movieList {
   width: 60%;
   margin: 100px auto 0;
   border-left: 1px solid gray;
   padding-left: 30px;

   img {
      width: 150px;
      border: 3px solid gray;
   }
}

.movieCard {
   display: flex;
   margin-bottom: 25px;
   padding: 20px;
   height: max-content;
   border-bottom: 1px solid grey;

   .description {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding-left: 30px;

      .year {
         color: orange;
         font-weight: bold;
      }

      .other {
         color: gray;
      }

      .descriptionText {
         font-size: 15px;
      }
   }
}