.itemPage {
   display: flex;
   width: 100%;

   .poster,
   .about,
   .information {
      padding: 25px;
   }

   .poster {
      width: 28%;

      img {
         width: 100%;
         border-radius: 3px;
      }
   }

   .about {
      width: 50%;

      &Table {
         margin-top: 50px;

         table {
            width: 100%;
            font-size: 13px;
            margin-top: 20px;

            tr {
               height: 30px;

               td:first-child {
                  color: gray;
               }
            }
         }
      }
   }

   .information {
      display: flex;
      flex-direction: column;
      width: 22%;

      .totalRatingCount {
         color: gray;
         font-size: 14px;
      }
   }
}

.description {
   margin-top: 25px;
}

@media (max-width: 900px) {
   .itemPage {
      flex-direction: column;
      gap: 10px;

      .about,
      .information {
         padding: 0;
         width: 100%;
      }

      .poster {
         order: 1;
         width: max(100%, 350px);
      }

      .information {
         order: 2;
      }

      .about {
         order: 3;
      }
   }
}